#home-page-profile-img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.card {
    margin-top: 20px;
}

hr.hr-2 {
    height: 2px;
}

#home-navigation {
    margin-left: 15px;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 40px;
    max-height: 40px;
}


